@charset "utf-8";

/*configuraciones generales*/


@font-face {
    font-family: "WorkSans Regular";
    src: url(fonts/WorkSans-Medium.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WorkSans Bold";
    src: url(fonts/WorkSans-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "WorkSans Italic";
    src: url(fonts/WorkSans-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

* {
font-family: "Public Sans", sans-serif;
}

body {
}

/*Acá empiezan las aplicaciones*/

h1,h4 {
    font-family: 'WorkSans Regular', 'Courier New', Courier, sans-serif;
}

h2 {
    font-family: 'WorkSans Bold', 'Courier New', Courier, sans-serif;
}

h3 {
    font-family: 'WorkSans Italic', 'Courier New', Courier, sans-serif;
}
/* h1 {
    color: aqua;
    font-size: 30px;
}
 */
.botonera {
    width: 1200px;
    height: 90px;
    background-color: yellow;
}
/* clase. puede estar en varias partes */

#cabecera {
    background-color: blue;
    width: 1200px;
    height: 400px;
}
/* ID. pueden estar una vez en el archivo. pensado para ser único */

header p {
    font-size: 10px
}

.textoppal p{
    color: blue;
}
